* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border-style: none;
    font-family: 'Flamenco', cursive;
}

.container {
    padding: 50px;
    display: flex;
    justify-content:center;
    width: 100%;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/1834403/pexels-photo-1834403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    align-self: center;
    position: absolute;
    background-image: linear-gradient(#bdbb4773, #394e4bd5);
    width: 400px;
    height: 550px;
    border-radius: 3%;
    text-align: center;
    padding-bottom: 85px;
    margin-top: 10vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in;
}

#formulario {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 170px;
}

/* Texto */

.titulos {
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.titulos h2,
h1 {
    letter-spacing: 3px;
}


.titulos h1 {
    font-size: 3.8rem;
}

.titulos h2 {
    margin-top: 30px;
    font-size: 2rem;
    max-width: 260px;
    line-height: 40px;
}

/* Caixas de texto */

#senha {
    margin-bottom: 15px;
}

.flex input {
    letter-spacing: 2px;
    width: 100%;
    height: auto;
    color: rgb(226, 226, 226);
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 20px;
    padding: 12px 12px 12px 15px;
    background-color: rgba(24, 23, 23, 0.678);
}

.flex input::placeholder {
    color: rgba(196, 194, 194, 0.63);
    font-weight: bold;
}

/* Botão */

#button {
    font-weight: bold;
    font-size: 1rem;
    padding: 11px;
    border-radius: 20px;
    background-color: #1c393aad;
    box-shadow: 1px 2px 4px rgba(29, 31, 29, 0.993);
    color: rgb(233, 229, 229);
    letter-spacing: 2px;
    cursor: pointer;
}

/* X */
.formulario img {
    margin-left: 85%;
    padding-top: 20px;
    width: 15px;
    height: auto;
    cursor: pointer;
}

/********************* Cadastro *****************/

.formulario2 {
    align-self: center;
    position: absolute;
    background-image: linear-gradient(#bdbb4773, #394e4bd5);
    width: 400px;
    height: 550px;
    border-radius: 3%;
    text-align: center;
    padding-bottom: 85px;
    margin-top: 10vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in;
}

.display {
    opacity: 1;
    visibility: visible;
}

#formulario2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 220px;
}


/* Texto */

.titulos2 {
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.titulos2 h1,
h2 {
    letter-spacing: 3px;
}

.titulos2 h1 {
    font-size: 3.8rem;
}

.titulos2 h2 {
    font-size: 2rem;
    margin-top: 30px;
    line-height: 40px;
    max-width: 320px;
}

/* Caixas de texto */

#senha2 {
    margin-bottom: 15px;
}

.flex2 input {
   
    letter-spacing: 2px;
    width: 100%;
    height: auto;
    color: rgb(226, 226, 226);
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 20px;
    padding: 12px 12px 12px 15px;
    background-color: rgba(24, 23, 23, 0.678);
}

.flex2 input::placeholder {
    color: rgba(196, 194, 194, 0.63);
    font-weight: bold;
}

/* Botão */

#button2 {
    font-weight: bold;
    font-size: 1rem;
    padding: 11px;
    border-radius: 20px;
    background-color: #f7bb084d;
    box-shadow: 1px 2px 4px rgba(29, 31, 29, 0.993);
    color: rgb(233, 229, 229);
    letter-spacing: 2px;
    cursor: pointer;
}

/* X */
.formulario2 img {
    margin-left: 85%;
    padding-top: 20px;
    width: 15px;
    height: auto;
    cursor: pointer;
}

/* Botões externos */
.botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.botoes button {
    letter-spacing: 2px;
    color: rgb(233, 229, 223);
    font-weight: bold;
    width: 150px;
    height: 32px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}



.bg {
    background: none;
    margin-right: 20px;
    border: solid 3px black;
    box-shadow: 0.5px 1px 3px black;
    transition: all 0.5s ease-in;
}

.border {
    background: none;
    border: solid 3px black;
    box-shadow: 0.5px 1px 3px black;
    transition: all 0.5s ease-in;
}

.voltar {
    height: 32px;
    width: 150px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 20px;
    padding: 8px;
    background-color: #394e4bf3;
    box-shadow: 1px 2px 6px black;
}

.voltar a {
    padding: 4px 40px;
    color: rgb(233, 229, 223);
    text-decoration: none;
}