* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Flamenco', cursive;
    font-weight: bold;
}

/* BLOCOS */
.container {
    padding: 5%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    background-image: url(imgs/bg-contato.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.formulario {
    background-color: #ffffffda;
    height: 600px;
    width: 850px;
    display: flex;
    border-radius: 10px;
    align-self: center;
    box-shadow: 1px 2px 4px black;
}


#formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0 0 40px;
    height: 90%;
    width: 55%;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

/* ELEMENTOS */
.nome,
.email,
.tel,
.nascimento {
    display: flex;
    flex-direction: column;
}

label {
    letter-spacing: 1px;
}

input {
    margin-top: 15px;
    width: 100%;
    background: none;
    border-style: none;
    box-shadow: 0px 1px 0.5px rgba(75, 74, 74, 0.288);
    outline: none;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

textarea {
    height: 150px;
    padding: 10px 0 0 10px;
    background: none;
    border-style: none;
    box-shadow: 1px 2px 4px rgb(85, 84, 84);
    letter-spacing: 1px;
}

.btn {
    font-size: 1rem;
    align-self: center;
    width: 40%;
    height: 7%;
    border-radius: 40px;
    border-style: none;
    background-color: #aaa8a842;
    box-shadow: 1px 2px 4px gray;
    cursor: pointer;
    letter-spacing: 1px;
}

.bg {
    padding:20px;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.bg .logo {
    width: 100%;
    height: auto;
    margin-left: 15px;
    margin-top: 62%;
}

.bg .voltar {
    width: 25px;
    height: auto;
}


