/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prata', serif;
    list-style: none;
}


#produtos p {
    margin-top: 25px;
    font-size: 1.2rem;
    max-width: 600px;
    font-family: 'Arvo', serif;
    text-align: justify;
}

h2 {
    color: rgb(66, 65, 65);
}

#produtos img {
    display: block;
    object-fit: cover;
    height: 700px;
    width: 500px;
    box-shadow: 2px 4px 6px black;
    cursor: pointer;
}



/* Conteudo principal/HOME */

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* HEADER */
.container {
    width: 100%;
    height: 100vh;
    font-size: 1rem;
    background-image: url(https://images.pexels.com/photos/1687147/pexels-photo-1687147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3%;
    margin: auto;
    width: 90%;
    height: 95vh;
    color: rgb(240, 240, 240);
}

#home {
    display: flex;
    align-items: center;

}

.nav {
    margin-bottom: 50px;
    width: 500px;
    font-size: 1.2rem;
    margin-left: 5%;

}

.nav ul {
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
}

a {
    color: #221C0E;
    text-decoration: none;
}

a:visited {
    color: #221C0E;
}

a:hover {
    color: #155325;
}

a:hover::after,
a:hover::before {
    color: #155325;
    transform: scaleX(1);
    transition: transform 0.5s ease-in;
}

a:hover::before {
    transform-origin: right;
}

a:hover::after {
    transform-origin: left;
}


a::after,
a::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #070202;
    margin-top: 2px;
    margin-left: 2px;
    transform: scaleX(0);
    text-decoration: none;
    transition: color 0.5s ease-in;

}


/* SOBRE NOS */
.grid2 {
    padding-top: 70px;
    margin: auto;
    width: 85%;
    height: auto;
    color: rgb(66, 65, 65);

}

#sobre p,
#sobre ul,
#sobre li,
#sobre strong {
    margin-top: 25px;
    font-size: 1.2rem;
    font-family: 'Arvo', serif;
    max-width: 1200px;
    text-align: justify;
}


/* PRODUTOS */

.h2 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.espacamento {
    margin-left: 100px;
    opacity: 0;
}

.espacamento-inverso {
    margin-right: 100px;
    opacity: 0;
}

.espacDivs {
    margin-bottom: 90px;
}


.pneu img {
    order: 1;
}

.show{
    opacity: 1;
}

/* Responsivo tablet */

@media only screen and (min-width: 641px) and (max-width: 1010px) {

    /*******Header*********/

    #home {
        display: flex;
        justify-content: space-between;
        height: 200px;
    }

    
    a:visited {
        color: rgb(226, 225, 225);
        font-size: 1.2rem;
    }
    
    a {
        color: rgb(226, 225, 225);
        font-size: 1.2rem;
    }

    main {
        text-align: center;
        font-size: 1.2rem;
    }

    main h1 {
        margin-bottom: 20px;
    }

    #home img {
        align-self: flex-start;
    }
    /* MENU HAMBURGUER */
    .hamburguer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 35px;
        height: 30px;
        cursor: pointer;
        z-index: 1;
        
    }

    .bg-lista {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(19, 78, 68, 0.425);
        width: 320px;
        height: 320px;
        border-radius: 50%;
        transform: translate(90px,-30px);
        transition: opacity 0.5s ease-in;
        opacity: 1;

    }

    .change {
        opacity: 0;
    }

    .line {
        width: 100%;
        background-color: rgb(31, 29, 29);
        height: 3px;
        border-radius: 50px;
    }

    .lista {
        letter-spacing: 1px;
        margin-top: 20px;
        height: 100px;
        flex-direction: column;
        z-index: 1;
        transition: opacity 0.5s ease-in;
    }

    .nav {
        padding: 0;
        margin: 0;
    }

    .nav {
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        width: 100px;
        height: 90%;
        font-size: 1.2rem;
    }


    /*******SOBRE NOS*********/

    .sobrenos {
        font-size: 1rem;
    }

    #sobre p {
        font-size: 1rem;
        text-align: justify;
    }

    #sobre li {
        font-size: 1rem;
    }

    /*******PRODUTOS*********/

    #produtos .h2 {
        font-size: 1.5rem;
    }

    #produtos p {
        margin-top: 25px;
        font-size: 1rem;
        max-width: 800px;
        font-family: 'Arvo', serif;
        text-align: justify;
    }

    .flex {
        flex-direction: column;
    }

    .espacamento {
        margin-left: 0;
        margin-top: 50px;
    }

    .espacamento-inverso {
        margin-top: 50px;
        margin-right: 0;
    }

    .espacDivs {
        margin-bottom: 90px;
    }

    .pneu img {
        order: 0;
    }

    #produtos img {
        max-width: 70%;
        height: auto;
        object-fit: cover;
    }

    .grid2 {
        padding-top: 70px;
        margin: auto;
        width: 85vw;
        height: auto;
        color: rgb(66, 65, 65);
    }


}

/* REPONSIVO MOBILE */

@media only screen and (max-width: 640px) {

    /* HEADER */

    .container {
        width: 100%;
        max-height: 450px;
        font-size: 1rem;
        background-image: url(https://images.pexels.com/photos/1687147/pexels-photo-1687147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo {
        max-width: 15%;
        min-width: 40%;
        height: auto;
    }

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5% 0 5% 0;
        margin: auto;
        width: 90%;
        height: 100%;
        color: rgb(240, 240, 240);
    }


    #home {
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #home img {
        align-self: flex-start;
    }

    /* MENU HAMBURGUER */
    .hamburguer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 35px;
        height: 30px;
        cursor: pointer;
        z-index: 1;
        
    }

    .bg-lista {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(19, 78, 68, 0.425);
        width: 280px;
        height: 280px;
        border-radius: 50%;
        transform: translate(90px,-30px);
        transition: opacity 0.5s ease-in;
        opacity: 1;

    }

    .change {
        opacity: 0;
    }

    .line {
        width: 100%;
        background-color: rgb(10, 10, 10);
        height: 3px;
        border-radius: 50px;
    }

    .lista {
        margin-top: 20px;
        height: 100px;
        flex-direction: column;
        z-index: 1;
        transition: opacity 0.5s ease-in;
        letter-spacing: 1px;
    }

    .nav {
        padding: 0;
        margin: 0;
    }

    .nav {
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        width: 80px;
        height: 80%;
        font-size: 1.2rem;
    }

    /* ----------------------------------- */
    a {
        color: #dbdada;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }

    a:visited {
        color: #dbdada;
    }

    main {
        text-align: center;
        font-size: 0.6rem;
    }

    main h1 {
        margin-bottom: 15px;
    }

    /*******SOBRE NOS*********/
    .sobrenos {
        font-size: 1rem;
    }

    #sobre p {
        font-size: 1rem;
        text-align: justify;
    }

    #sobre li {
        font-size: 1rem;
    }

    /*******PRODUTOS*********/

    .grid2 {
        padding-top: 70px;
        margin: auto;
        width: 70%;
        height: auto;
        color: rgb(66, 65, 65);
    }

    #produtos .h2 {
        font-size: 1.5rem;
    }

    #produtos p {
        margin-top: 25px;
        font-size: 1rem;
        max-width: 800px;
        font-family: 'Arvo', serif;
        text-align: justify;
    }

    .flex {
        flex-direction: column;
    }

    .espacamento {
        margin-left: 0;
        margin-top: 50px;
    }

    .espacamento-inverso {
        margin-top: 50px;
        margin-right: 0;
    }

    .espacDivs {
        margin-bottom: 90px;
    }

    .pneu img {
        order: 0;
    }

    #produtos img {
        width: 99%;
        height: 450px;
        object-fit: cover;
    }

    .grid2 {
        padding-top: 70px;
        margin: auto;
        width: 85vw;
        height: auto;
        color: rgb(66, 65, 65);
    }

}