* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Flamenco', cursive;
    font-weight: bold;
}

/* BLOCOS */
.container {
    padding: 2%;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../imgs/bg-contato.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.bloco {
    background-color: #ffffffda;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    align-self: center;
    box-shadow: 1px 2px 4px black;
    padding: 35px;
}


#formulario {
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}



/* ELEMENTOS */
.nome,
.email,
.tel,
.nascimento {
    display: flex;
    height: auto;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}

.nome {
    margin-top: 20px;
}

label {
    letter-spacing: 1px;
}

input {
    margin-top: 5px;
    width: 100%;
    background: none;
    border-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    outline: none;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
}

small {
    margin-top: 5px;
    color: rgb(177, 2, 2);
    display: none;
}

/* INPUT COLORS */
.erroColor {
    border-bottom: 1px solid red;
}

.sucessoColor {
    border-bottom: 1px solid rgb(34, 180, 34);
}

/* --------- */

textarea {
    width: 100%;
    height: 150px;
    padding: 10px 0 0 10px;
    background: none;
    border-style: none;
    box-shadow: 1px 2px 4px rgb(85, 84, 84);
    letter-spacing: 1px;
}

.btn {
    margin-top: 30px;
    font-size: 1rem;
    align-self: center;
    width: 220px;
    height: 35px;
    border-radius: 40px;
    border-style: none;
    background-color: #aaa8a842;
    box-shadow: 1px 2px 4px gray;
    cursor: pointer;
    letter-spacing: 1px;
}

.bg {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-between;
    align-self: center;
}

.bg .logo {
    width: 100%;
    max-width: 220px;
    height: auto;
}

.bg .voltar {
    width: 20px;
    height: auto;
    margin-bottom: 80px;
}

@media only screen and (max-width: 800px) {

    .container {
        padding: 5%;
    }

    #formulario {
        width: 100%;
    }

    .bg {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: space-between;
        align-self: center;
    }

    .bg .logo {
        width: 100%;
        max-width: 220px;
        height: auto;
        margin: 0 0 20px 20px;
    }

    .bg .voltar {
        margin-bottom: 60px;
    }

}